<form [formGroup]="linkForm">
  <div class="form-group">
    <label for="url">URL:</label>
    <input type="text" id="url" name="url" class="form-control" formControlName="url"/>
    <div *ngIf="url.invalid && (url.dirty || url.touched)">
      <small class="text-danger" *ngIf="url.errors.required">
        This field is required
      </small>
      <small class="text-danger" *ngIf="url.errors.validUrl">
        This URL is not valud: It must start with 'https://' and contain 'io'
      </small>
    </div>
  </div>
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" class="form-control" formControlName="title"/>
    <div *ngIf="title.invalid && (title.dirty || title.touched)">
      <small class="text-danger" *ngIf="title.errors.required">
        This fiels is required
      </small>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" [disabled]="!linkForm.valid">
      Send
    </button>
  </div>
</form>
